
<div>
  <table>
      <thead>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Singer</th>
              <th>CreatedYear</th>
              <th>RecordCompany</th>
              <th>CustomerId</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let album of albums">
              <td>{{ album.id }}</td>
              <td>{{ album.name }}</td>
              <td>{{ album.singer }}</td>
              <td>{{ album.createdYear }}</td>
              <td>{{ album.recordCompanyName }}</td>
              <td>{{ album.customerId }}</td>
              <td><button (click)="editAlbum(album)">Edit</button></td>
          </tr>
      </tbody>
  </table>

  <button class="create-button" (click)="initNewAlbum()">Create New Album</button>
  <app-edit-album [album]="albumToEdit" (albumsUpdated)="updateAlbumList($event)"></app-edit-album>
</div>

