
<div style="display: flex; gap: 5px ; background-color: rgb(10, 128, 100);  justify-content: center; padding-top: 10px;">
    <div>
        <button (click)="gotoalbum()">
            album
        </button>
    </div>
    <div>
        <button (click)="gotocustomer()">
            customer
        </button>
    </div>
    <div>
        <button (click)="gotorecord()">
            record
        </button>
    </div> 
    <div>
        <button (click)="gotologin()">
            login
        </button>
    </div>
</div>
<router-outlet></router-outlet> 
