<div class="record-company-details" *ngIf="recordCompany">
    <h2>{{ recordCompany.name }}</h2>
    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="recordCompany.name" placeholder="Name" />
    </div>
    <div class="form-group">
        <label for="albumId">AlbumId:</label>
        <input id="albumId" [(ngModel)]="recordCompany.albumId" placeholder="AlbumId" />
    </div>
    <div class="form-group">
        <label for="companyYear">CompanyYear:</label>
        <input id="companyYear" [(ngModel)]="recordCompany.companyYear" placeholder="CompanyYear" />
    </div>
    <div class="form-group">
        <label for="companyValue">CompanyValue:</label>
        <input id="companyValue" [(ngModel)]="recordCompany.companyValue" placeholder="CompanyValue" />
    </div>
    <div class="button-group">
        <button (click)="updateCustomer(recordCompany)">Save</button>
        <button (click)="deleteCustomer(recordCompany)">Delete</button>
        <button (click)="createCustomer(recordCompany)">Create</button>
    </div>
</div>
