
<div *ngIf="album" class="edit-album-container">
    <h2>{{ album.name }}</h2>
    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="album.name" placeholder="Name" maxlength="11" (input)="checkCharacterLimit(album.name, 10, 'name')" />
        <div *ngIf="nameExceedsLimit" class="error-message">Name must be at most 10 characters long.</div>
    </div>
    <div class="form-group">
        <label for="customerId">CustomerId:</label>
        <input id="customerId" [(ngModel)]="album.customerId" placeholder="CustomerId" (input)="onCustomerIdInput($event)" />
    </div>
    <div class="form-group">
        <label for="singer">Singer:</label>
        <input id="singer" [(ngModel)]="album.singer" placeholder="Singer" maxlength="11" (input)="checkCharacterLimit(album.singer, 10, 'singer')" />
        <div *ngIf="singerExceedsLimit" class="error-message">Singer must be at most 10 characters long.</div>
    </div>
    <div class="form-group">
        <label for="recordCompany">RecordCompany:</label>
        <input id="recordCompany" [(ngModel)]="album.recordCompanyName" placeholder="RecordCompany" maxlength="11" (input)="checkCharacterLimit(album.recordCompanyName, 10, 'recordCompanyName')" />
        <div *ngIf="recordCompanyExceedsLimit" class="error-message">Record Company must be at most 10 characters long.</div>
    </div>
    <div class="form-group">
        <label for="createdYear">Created Year:</label>
        <input id="createdYear" [(ngModel)]="album.createdYear" placeholder="Created Year" type="number" />
    </div>
    <div class="button-group">
        <button [disabled]="nameExceedsLimit || singerExceedsLimit || recordCompanyExceedsLimit" (click)="updateAlbum(album)">Save</button>
        <button (click)="deleteAlbum(album)">Delete</button>
        <button (click)="createAlbum(album)">Create</button>
    </div>
</div>
